# String

## .split()

- 변경하고자 하는 문자를 지정한 문자로 변경 후 반환, 갯수 지정 시 몇개까지만 바꿀건지 지정 가능

In [ ]:
email = 'alexalgoedu@gmail.com'
split_email = email.split('@')
print(email)
print(split_email)

hello world
hellk wkrld

In [ ]:
nums = '1 2 3'
print(nums.split())

['1', '2', '3']

In [ ]:
users = {
    'total_user' : 3,
    'information': [
        {'name' : 'alex', 'age' : 3, 'license' : True},
        {'name' : 'june', 'age' : 7, 'license' : False},
        {'name' : 'peter', 'age' : 4, 'license' : False}
    ]
}

print(users['information'][1]['age'])

7

In [ ]:
i = 0
a = 0
while i < users['total_user']:
  a += users['information'][i]['age']
  i += 1
print(a)

args = a / i
print(round(args, 1))

14
4.7

# 과제

## 1. 다음의 리스트에서 소숫점을 제외한 평균값을 구하시오

In [ ]:
# 다음의 리스트에서 소숫점을 제외한 평균값을 구하시오. ex) 3.1724일 경우 3을 출력
nums = [1, 7, 2, 3, 6, 1, 2, 5, 3, 4, 8, 7]
sums = 0
for i in nums:
  sums += nums[i]
  i += 1

#print(sums)

avg = sums / len(nums)
print(round(avg))

# print(answer) # 4

46
4

## 2. 입력된 문자열을 뒤집은 문자열을 구하시오.

In [ ]:
# 입력된 문자열을 뒤집은 문자열을 구하시오.
# ex) banana 입력 시 ananab 출력
word = input()
# 로직 작성
word = word[::-1]
print(word)




# print(reversed_word)  # 'banana' 입력 시 reversed_word == 'ananab'

asd
dsa

## 3. 주어진 배열 안의 값을 전부 2배로 만드시오.

In [ ]:
# 주어진 배열 안의 값을 전부 2배로 만드시오.
# ex) [7, 2, 3]의 경우 [14, 4, 6]이 되어야 합니다.
nums = [7, 2, 9, 8, 4, 3, 5]

for i in range(len(nums)):
  nums[i] = nums[i] * 2

print(nums)

[14, 4, 18, 16, 8, 6, 10]

## 4

In [ ]:
# <별 찍기>
# 자연수 N을 입력받아, N줄까지 별을 출력하는 함수를 만드시오.
# 첫 번째 줄은 별이 1개이며, N번째 줄은 N개의 별이 찍혀야 합니다.

# ex) 만약 N이 3 이라면?
# *
# **
# ***

N = int(input())

def print_stars():
  for i in range(1, N+1):
    print('*' * i)

print_stars()

3
*
**
***

## 5

In [ ]:
# <절댓값 구하기>
# A와 B 정수를 입력받아 두 수의 차의 절댓값을 반환하는 함수를 만드시오.
# 만약 7과 -3을 받았다면 10을 출력해야 한다.

A = int(input())
B = int(input())

def get_absolute_value(x, y):
  if x > y:
    return x - y
  else:
    return y - x

print(get_absolute_value(A, B))

10
-5
15

##6

In [ ]:
# <미출석 인원 찾기>
# 전체 출석부와 현재 출석한 인원이 리스트로 주어질 때, 출석하지 않은 인원을 출력하시오. (순서 굳이 상관 없음)
students = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']  # 전체 명단
attened = ['c', 'e', 'f', 'h']  # 출석 명단

for i in students:
  if i not in attened:
    print(i)

a
b
d
g

## 7

In [ ]:
# 다음과 같은 api 데이터가 있을 때, 모든 유저들의 이름을 모아보시오.
users = {
    'total_user': 3,
    'information': [
        {'name': 'alex', 'age': 3, 'license': True},
        {'name': 'june', 'age': 7, 'license': False},
        {'name': 'peter', 'age': 4, 'license': False}
    ]
}

names = []
i = 0

while i < users['total_user']:
    names = names + users['information'][i]['name'].split()
    i = i + 1
print(names)  # ['alex', 'june', 'peter']

['alex', 'june', 'peter']

## 8

In [ ]:
# <수 정렬하기>
# 주어진 2차원 리스트를 기준에 따라서 정렬하시오.
# [앞쪽, 뒤쪽] 이라고 할 때, 뒤쪽이 '작은' 순서로 정렬하되 만약 같다면 앞쪽이 '큰' 순서대로 정렬하시오.
nums = [[70, 30], [70, 10], [20, 30], [50, 90], [40, 80], [80, 90], [10, 60]]

nums.sort(key=lambda x: (x[1], -x[0]))
print(nums)

[[70, 10], [70, 30], [20, 30], [10, 60], [40, 80], [80, 90], [50, 90]]

## test 1-1

In [ ]:
'''
[Question 1] = (10점)
빈 nums 리스트가 주어질 때, 1부터 30 까지의 숫자 중
2의 배수도 아니고 3의 배수도 아닌 수를 모두 모은 후,
nums 리스트의 길이를 출력하시오.
ex) [1, 5, 7, 11, 13, 17, 19, 23, 25, 29] => 10개
'''
nums = []
nums = list(range(1, 31))

print(nums)

i = 1
while i in nums:
    if i % 2 == 0 or i % 3 == 0:
        nums.remove(i)
    i += 1

print(nums)
print(len(nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 5, 7, 11, 13, 17, 19, 23, 25, 29]
10

## test 1-2

In [ ]:
'''
[Question 2] = (20점)
한 반 학생들의 이름과 수학 점수가 담긴 2차원 리스트가 주어질 때, ex) [이름, 점수]
수학 점수가 가장 높은 사람의 이름을 출력하시오.
'''

scores = [['alex', 30], ['rachel', 25], ['fred', 50], ['june', 80],
          ['jane', 90], ['elle', 40], ['ken', 65], ['jun', 85],
          ['chelsea', 60], ['gorden', 75], ['kelly', 100], ['kate', 55],
          ['jacob', 15], ['harry', 70], ['haley', 55], ['kyle', 95]]


scores.sort(key=lambda x: -x[1])
print(scores)
print(scores[0][0])

[['kelly', 100], ['kyle', 95], ['jane', 90], ['jun', 85], ['june', 80], ['gorden', 75], ['harry', 70], ['ken', 65], ['chelsea', 60], ['kate', 55], ['haley', 55], ['fred', 50], ['elle', 40], ['alex', 30], ['rachel', 25], ['jacob', 15]]
kelly

## test 1-3

In [ ]:
'''
[Question 3] = (30점)
<외톨이 고르기>
구슬치기 게임을 하려면 두 사람이 필요하다.
하나의 외톨이(깍두기)를 제외한 모든 사람은 자기만의 짝이 하나 더 유일하게 존재한다.
번호는 자연수라고 가정하며, 외톨이는 1명만 유일하게 존재한다고 가정한다.
아래의 nums1 예제에서 1, 2, 4, 5번은 각각 자신의 파트너가 존재하나, 3번만은 파트너가 없는 외톨이다.
외톨이를 구하여 반환하는 함수를 완성하고, 외톨이를 출력해보시오.
'''

nums1 = [2, 1, 3, 1, 4, 5, 2, 5, 4]
nums2 = [7, 3, 26, 13, 1, 3, 77, 7, 13, 1, 26]


def find_solo(nums):
    for i in nums:
        if nums.count(i) == 1:
            return i

print(find_solo(nums1))  # 3 출력
print(find_solo(nums2))  # 77 출력

3
77

## test 1-4

In [7]:
'''
[Question 4] = (40점, 부분점수 있음)
다른 추천 동영상 목록 API 데이터 videos와 본인의 실제 시청 기록 views 데이터가 주어질 때 다음 질문에 답하시오.
단, 비디오의 장르(카테고리)는 1~5까지의 자연수만 있다고 가정한다.

(1) 추천 동영상 목록 videos에서 몇 개의 동영상 데이터를 응답 받았는지 구하시오. (동영상 정보는 results) (10점)
(2) 내가 시청한 동영상(views)들의 평점의 평균을 구하시오. (10점)
(3) 내가 시청한 동영상(views)들 중 가장 많이 시청한 장르를 구하시오. (10점)
(4) 내가 가장 많이 시청한 장르 중 추천 비디오 데이터 베이스에서 평점이 가장 높은 동영상의 제목을 출력하시오. (10점)
'''

# 추천 동영상 목록
videos = {
    'response': 'Success',
    'current_page': 1,
    'results': [
        {'title': '갑', 'video_genre': 2, 'rating': 1.423},
        {'title': '을', 'video_genre': 3, 'rating': 5.225},
        {'title': '병', 'video_genre': 1, 'rating': 6.814},
        {'title': '정', 'video_genre': 2, 'rating': 7.137},
        {'title': '무', 'video_genre': 2, 'rating': 5.576},
        {'title': '기', 'video_genre': 3, 'rating': 6.754},
        {'title': '경', 'video_genre': 1, 'rating': 8.339},
        {'title': '신', 'video_genre': 3, 'rating': 9.127},
        {'title': '임', 'video_genre': 2, 'rating': 8.934},
        {'title': '계', 'video_genre': 1, 'rating': 5.147},
        {'title': '자', 'video_genre': 2, 'rating': 2.996},
        {'title': '축', 'video_genre': 2, 'rating': 3.842},
        {'title': '인', 'video_genre': 2, 'rating': 7.123},
        {'title': '묘', 'video_genre': 5, 'rating': 5.465},
        {'title': '진', 'video_genre': 2, 'rating': 8.846},
        {'title': '사', 'video_genre': 4, 'rating': 3.157},
        {'title': '오', 'video_genre': 3, 'rating': 8.752},
        {'title': '미', 'video_genre': 4, 'rating': 6.936},
        {'title': '신', 'video_genre': 2, 'rating': 9.998},
        {'title': '유', 'video_genre': 2, 'rating': 5.246},
        {'title': '술', 'video_genre': 2, 'rating': 2.502},
        {'title': '해', 'video_genre': 3, 'rating': 4.478},
    ]
}

# 내 시청기록 (title 제외)
views = [
    {'video_genre': 1, 'rating': 7.226},
    {'video_genre': 3, 'rating': 2.442},
    {'video_genre': 2, 'rating': 8.683},
    {'video_genre': 2, 'rating': 9.676},
    {'video_genre': 3, 'rating': 4.213},
    {'video_genre': 2, 'rating': 3.724},
    {'video_genre': 2, 'rating': 5.553},
    {'video_genre': 4, 'rating': 9.155},
    {'video_genre': 3, 'rating': 4.667},
    {'video_genre': 5, 'rating': 5.972},
    {'video_genre': 5, 'rating': 6.374},
    {'video_genre': 1, 'rating': 3.826},
    {'video_genre': 2, 'rating': 1.732},
    {'video_genre': 1, 'rating': 7.945},
    {'video_genre': 2, 'rating': 1.337},
]

# 1번 풀이
print(len(videos['results']))


# 2번 풀이
i = 0
a = []
for i in range(len(views)):
    a.append(views[i]['rating'])
    i += 1

# print(a)

a2 = 0
for i in range(len(views)):
    a2 = a2 + a[i]
# print(a2)

b = len(views)
# print(b)

args = a2/b
print(round(args, 1))

# 3번 풀이(3) 내가 시청한 동영상(views)들 중 가장 많이 시청한 장르를 구하시오. (10점)
genre_counts = {}
for view in views:
    genre = view['video_genre']
    if genre in genre_counts:
        genre_counts[genre] += 1
    else:
        genre_counts[genre] = 1
    max_genre = max(genre_counts, key=genre_counts.get)
print(max_genre)


# 4번 풀이# (4) 내가 가장 많이 시청한 장르 중 추천 비디오 데이터 베이스에서 평점이 가장 높은 동영상의 제목을 출력하시오. (10점)
max_genre_views = max(genre_counts, key=genre_counts.get)
max_rating_video = None
max_rating = 0
for video in videos['results']:
    if video['video_genre'] == max_genre_views and video['rating'] > max_rating:
        max_rating = video['rating']
        max_rating_video = video['title']
print(max_rating_video)

22
5.5
2
신

## test 2-1

In [ ]:
'''
[Question 1] = (10점)
nums 리스트가 주어질 때, 주어진 리스트의 원소 중
5를 포함한 5의 배수들의 전체 합산을 구하시오.
'''

nums = [5, 1, 4, 10, 2, 15, 7, 5, 30]
answer = 0
# 여기에 로직을 작성합니다.
for i in nums:
    if i % 5 == 0:
        answer += i

print(answer)  # 65가 출력되어야 합니다.

65

## test 2-2

In [ ]:
'''
[Question 2] = (20점)
각 후보의 투표 결과가 다음과 같을 때, 투표 결과를 집계하고,
그 중 가장 많은 표를 득표한 후보가 몇 표를 얻었는지 구하시오.
단, 후보는 A, B, C 세사람만 있다고 가정합니다.
ex) votes = ['B', 'B', 'C', 'C', 'A']일 때, 집계 결과는 {"A": 1, "B": 2, "C": 2}이며,
가장 많은 표를 득표한 후보의 표 수는 2표이다. (B 후보와 C 후보는 동률)
'''

votes = ["A", "C", "B", "B", "C", "A", "A", "B", "A", "C", "C", "A", "C", "A"]
results = {"A": 0, "B": 0, "C": 0}
# max_vote 변수를 할용하여 아래에 로직을 작성합니다.

max_vote = 0

print(max_vote)

## test 2-3

In [ ]:
'''
[Question 3] = (30점)
뒤집어도 같은 글자가 되는 단어를 '회문(palindrome)'이라고 정의할 때,
주어진 리스트에서 회문이 몇 개 있는지 고르는 함수를 완성하시오.
ex) 'box'를 뒤집으면 'xob'가 되므로 'box' != 'xob' 이다.
그런데, 'pop'을 뒤집으면 여전히 'pop'이 되므로 이것은 회문이다.
'''

words = ['banana', 'level', '역삼역', 'car', '별똥별', '우영우', 'palindrome']

def find_palindrome():
    count = 0
    for word in words:
        if word == word[::-1]:
            count += 1
    return count

answer = find_palindrome()
print(answer)

4

## test 2-4

In [29]:
'''
[Question 4] = (40점, 부분점수 있음)
천재교육의 밀크티 학생 API 데이터를 활용하여 다음 질문에 답하시오.
(1) 전체 학생들의 수를 구하시오. (5점)
(2) 모든 학생들의 수학 성적의 평균을 구하시오. (단, 소수점은 버린다) (10점)
(3) 학생들 각자의 총점(수학 성적과 과학 성적의 합산)을 기준으로 상위 3명의 이름을 높은 순서대로 출력하시오. (20점)
단, 어떤 학생도 총점이 같은 경우는 존재하지 않음.
'''
students = {
    'response': 'success',
    'results': [
        {'name': 'kyle', 'math': 100, 'science': 100},
        {'name': 'alex', 'math': 17, 'science': 33},
        {'name': 'haley', 'math': 70, 'science': 63},
        {'name': 'july', 'math': 13, 'science': 56},
        {'name': 'yuna', 'math': 44, 'science': 65},
        {'name': 'jun', 'math': 90, 'science': 100},
        {'name': 'ken', 'math': 94, 'science': 38},
        {'name': 'chelsea', 'math': 58, 'science': 99},
        {'name': 'peter', 'math': 5, 'science': 25},
        {'name': 'rachel', 'math': 26, 'science': 81},
        {'name': 'emily', 'math': 79, 'science': 18},
        {'name': 'harry', 'math': 93, 'science': 84},
        {'name': 'peach', 'math': 64, 'science': 42},
        {'name': 'bob', 'math': 3, 'science': 17},
        {'name': 'sophia', 'math': 31, 'science': 4},
        {'name': 'jane', 'math': 81, 'science': 79},
        {'name': 'mia', 'math': 51, 'science': 22},
        {'name': 'kate', 'math': 100, 'science': 99},
    ],
    'total_pages': 7124,
    'current_page': 1
}
# =========================================================
# 1번 답 :18
# (1) 전체 학생들의 수를 구하시오. (5점)
print(len(students['results']))

# =========================================================


# =========================================================
# 2번 답 :
# 56
# (2) 모든 학생들의 수학 성적의 평균을 구하시오. (단, 소수점은 버린다) (10점)
math_scores = [student['math'] for student in students['results']]
arg = sum(math_scores) // len(math_scores)
#print(round(arg))
print(arg)

# =========================================================



# =========================================================
# 3번 답 : kyle kate jun
# (3) 학생들 각자의 총점(수학 성적과 과학 성적의 합산)을 기준으로 상위 3명의 이름을 높은 순서대로 출력하시오. (20점)
total_scores = [(student['name'], student['math'] + student['science']) for student in students['results']]
sorted_scores = sorted(total_scores, key=lambda x: x[1], reverse=True)
top_3 = [name for name, score in sorted_scores[:3]]
print(' '.join(top_3))
# =========================================================

18
56
kyle kate jun